<div class="social-comment ml-4", id = <%= comment.id.to_s %>>
    <a href="" class="pull-left">
    </a>
    <% if current_user == comment.author %>
        <div class="pull-right social-action dropdown">
            <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu m-t-xs">
                <li> <%= link_to "Delete Comment", user_comment_path(current_user, comment), method: :delete, remote: true %>
            </ul>
        </div>
    <% end %>
    <div class="media-body">
        <%= link_to comment.author.full_name, comment.author %>
        <%= comment.content %>
        <br>
        <div class='btn-group'>
            <div id = '<%= comment.class.to_s %>-<%= comment.id.to_s %>-likes'>
                <%= render 'likes/likes_button', likeable: comment %>
            </div>
             <div class="new-comment-comment-container">
                <%= render 'comments/create_link', commentable: comment %>
            </div>
        </div>
        <%= content_tag "div", id: "#{comment.class}-#{comment.id}-new-comment-container" do %>
        <% end %>
        <small class="text-muted">12.06.2014</small>
        <div id = '<%= comment.class.to_s %>-<%= comment.id %>-comments' >
            <%= render comment.comments, commentable: comment %>
        </div>
    </div>
</div>

