<div class="social-comment", id = <%= comment.id.to_s %>>
    <a href="" class="pull-left">
    </a>
    <div class="media-body">
        <%= link_to comment.author.full_name, comment.author %>
        <%= comment.content %>
        <br>
        <div id = '<%= comment.class.to_s %>-<%= comment.id.to_s %>-likes'>
            <%= render 'likes/likes_button', likeable: comment %>
        </div>
        <%# <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> - %>
        <small class="text-muted">12.06.2014</small>
    </div>
</div>

<div class = 'comment-container', id = <%= comment.id.to_s %>>
    <div class = 'comment'>
        <div class = 'author'>
            <%= comment.author.full_name %>
        </div>
        <div class = 'content'>
            <%= comment.content %>
        </div>
        <div class = '<%= comment.id.to_s %>-likes'>
            <%= render 'likes/likes_button', likeable: comment %>
        </div>
        <div class = 'new-comment-comment-container'>
            <%= render 'comments/create_link', commentable: comment %>
        </div>
        <% if comment.author == current_user %>
            <%= button_to "Delete Comment", user_comment_path(current_user, comment), method: :delete, remote: true %>
        <% end %>
        <div class = '<%= comment.id.to_s %>-comments'>
        
        </div>
        <div id = '<%= comment.class.to_s %>-<%= comment.id %>-comments' >
            <%= render comment.comments, commentable: comment %>
        </div>
    </div>
</div>  
