<div class = 'comment-container', id = <%= comment.id.to_s %>>
    <div class = 'comment'>
        <div class = 'author'>
            <%= comment.author.full_name %>
        </div>
        <div class = 'content'>
            <%= comment.content %>
        </div>
        <div class = '<%= comment.id.to_s %>-likes'>
            <%= render 'likes/likes', likeable: comment %>
        </div>
        <%= render 'comments/create_form', commentable: comment%>
        
        <% if comment.author == current_user %>
            <%= render 'comments/delete_form', comment: comment %>
        <% end %>
        <div class = '<%= comment.id.to_s %>-comments'>
        
        </div>
        <%= render comment.comments, commentable: comment %>
    </div>
</div>  
