<div id = '<%= @commentable.class.to_s %>-<%= @commentable.id.to_s %>-comment-create-form' >
    <%= form_with url: polymorphic_path([current_user, @commentable, Comment.new]), scope: :comment  do |f| %>
    <div class = 'd-flex'>
        <%= f.text_area :content, class: 'p2 flex-fill' %> 
    </div>
    <div class = 'd-flex justify-content-end'>
        <div class='btn-group'>
                <%= button_tag "hide", type: 'button', onclick: "$('##{@commentable.class}-#{@commentable.id}-new-comment-container').empty();", class: 'btn btn-secondary btn-sm', id: 'hide-button'%>
                <%= f.submit "Comment", class: 'btn btn-primary btn-sm', id: 'blue-button'  %> 
        </div>
    </div>
    
        
    <% end %>  
</div>