<div class="container">
    <div class="profile-container">
        <% if user == current_user %>
            <div class="row">
                <div class = "col">
                    <div class="pull-right social-action dropdown">
                        <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu m-t-xs">
                            <li> <%= link_to "Cancel my account", registration_path(user), data: { confirm: "Are you sure?" }, method: :delete %>
                        </ul>
                    </div>
                </div>  
            </div>
        <% end %>
        <div class="row">
            <div class="col-12 center-block text-center pt-4">
                <%= image_tag user.avatar.url(:medium) %>
            </div>
        </div>
        <% if user == current_user %>
            <div class="row", id="upload-container">
                <div class="col-12 center-block text-center">
                    <%= render 'users/avatar_upload_link' %>
                    <%= render 'users/avatar_upload_form', user: user %>
                </div>        
            </div>
        <% end %>
        <div class="row">
            <div class="col-12 center-block text-center">
                <h1><%= @user.full_name %></h1>
            </div> 
        </div>
        <div class="row">
            <div class = "col-12 center-block text-center">
                <h6><%= @user.email %></h6>
            </div>
        </div>
        <div class="row bottom-buffer">
            <div class="col-12 center-block text-center">
                <div id = 'request-button-container'>
                    <% case @button %>
                    <% when 'friend_request' %>
                        <%= render 'friend_requests/friend_request_button', user_id: @user.id %>
                    <% when 'sent_request' , "recieved_request" %>
                        <div id= pending-request-message>
                            <p>Pending request</p>
                        </div>
                    <% when 'unfriend' %>
                        <div id = unfriend-button>
                            <%= button_to "Unfriend", user_friend_path(current_user.id, current_user.friendship(@user).id), { method: :delete, remote: true, class: 'btn', id: 'hide-button'} %>
                        </div>
                    <% end %>
                </div>
            </div> 
        </div>
    </div> 
</div>