<h1><%= @user.first_name + " " + @user.last_name %></h1>
<h3><%= @user.email %></h3>
<div id = 'request-button-container'>
    <% case @button %>
    <% when 'friend_request' %>
    <%= render 'friend_requests/friend_request_button', user_id: @user.id%>   
    <% when 'sent_request' , "recieved_request" %>
        <div id= pending-request-message>
            <p>Pending request</p>
        </div>
    <% when 'unfriend' %>
        <div id = unfriend-button>
            <%= button_to "Unfriend", user_friend_path(current_user.id, current_user.friendship(@user).id), { method: :delete, remote: true} %>
        </div>
    <% end %>
</div>


<% if !@posts.empty? %>
    <div class = 'posts-container'>
        <div class = 'posts'>
            <%= render @posts %>
        </div>
    </div>
<% else %>
    <h2>No posts yet. Why not create one?</h2>
<% end %>