<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <h1><%= @user.full_name %></h1>
    </div>
    <div class="row">
        <h3><%= @user.email %></h3>
    </div>
    <div class="row">
        <div id = 'request-button-container'>
            <% case @button %>
            <% when 'friend_request' %>
                <%= render 'friend_requests/friend_request_button', user_id: @user.id %>   
            <% when 'sent_request' , "recieved_request" %>
                <div id= pending-request-message>
                    <p>Pending request</p>
                </div>
            <% when 'unfriend' %>
                <div id = unfriend-button>
                    <%= button_to "Unfriend", user_friend_path(current_user.id, current_user.friendship(@user).id), { method: :delete, remote: true} %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="container">
                <div class="row">
                    <h2>Friends</h2>
                </div>
                <% @user.friends.each do |friend| %>
                    <%= render 'users/friend', friend: friend %>
                <% end %>
            </div> 
        </div>
        <div class="col-md-7", id='feed'>
             <% if !@posts.empty? %>
                <div class = 'posts-container'>
                    <div class = 'posts'>
                        <%= render @posts %>
                    </div>
                </div>
            <% else %>
                <h2>No posts yet. Why not create one?</h2>
            <% end %>
        </div>
    </div>
</div>





