<div class = "post-container", id = <%= post.id.to_s %>>
    <div class = 'author'>
        <%= post.author.full_name %>
    </div>
    <div class = 'content'>
        <%= post.content %>
    </div>
    <div class = '<%= post.id.to_s %>-likes'>
        <%= render 'likes/likes', likeable: post %>
    </div>
    <% if post.author == current_user %>
        <div class = 'delete-container'>
            <%= button_to "Delete Post", user_post_path(current_user, post), method: :delete, remote: true %>
        </div>
    <% end %>
    <div class = 'new-post-comment-container'>
        <%= render 'comments/create_link', commentable: post%>
    </div>
    <div id = '<%= post.class.to_s %>-<%= post.id.to_s %>-comments'>
        <%= render post.comments %>
    </div>
</div>

