<div class = "post-container", id = <%= post.id.to_s %>>
    <div class = 'author'>
        <%= post.author.full_name %>
    </div>
    <div class = 'content'>
        <%= post.content %>
    </div>
    <div class = '<%= post.id.to_s %>-likes'>
        <%= render 'likes/likes', likeable: post %>
    </div>
    <% if post.author == current_user %>
        <div class = 'delete-container'>
            <%= button_to "Delete Post", user_post_path(current_user, post), method: :delete, remote: true %>
        </div>
    <% end %>
    <div class = 'new-post-comment-container'>
        <%= render 'comments/create_link', commentable: post%>
    </div>
    <%= content_tag "div", id: "#{post.class}-#{post.id}-comments-links" do %>
        <% if post.comments.count > 0 %>
            <%= link_to "Show #{pluralize(post.comments.count, 'comment')}", user_post_comments_path(post.author, post.id), id: "#{post.class}-#{post.id}-show-comments", remote: true %>
            <%= link_to "Hide Comments", '#', onclick: "hide_comments(#{post.id});", id: "#{post.class}-#{post.id}-hide-comments", style: "display: none;", remote: true %>
        <% end %>
    <% end %>
    <%= content_tag "div", id: "#{post.class}-#{post.id}-comments" do %>
    <% end %>
</div>

